@import '../config.scss';
@import '../media-queries.scss';

.app {
  display: flex;
  flex-flow: column;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-color: $prim-bg-color;

  @include breakpoint {
    height: 100%;
  }
}
