@import '../config.scss';
@import '../media-queries.scss';

.container {
  position: relative;
  display: flex;
  align-items: center;
  flex-flow: column;
  flex-shrink: 0;
  width: 100%;
  min-width: 350px;
  max-width: 2144px;
  height: 100%;
  max-height: 1092px;
  margin: 0 auto;

  @include breakpoint {
    max-height: unset;
    overflow-y: unset;
  }

  .content {
    position: relative;
    display: flex;
    flex-flow: column;
    align-items: center;
    flex-grow: 1;
    width: 100%;
    align-items: flex-start;
  }
}
