@import '../../config.scss';
@import '../../media-queries.scss';

.anchor-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;

  @include breakpoint {
    padding: 1.05rem 0;
  }

  a {
    display: flex;
    align-items: center;
    padding: 0.4rem 0.4rem 0.4rem 1.2rem;
    border: 1.4px solid $bright;
    border-radius: 2rem;
    background-color: $prim-bg-color;
    font-family: $main-font;
    font-size: 0.95rem;
    font-weight: 400;
    color: $bright;
    transition: background-color 0.4s cubic-bezier(0.37, 0.35, 0.47, 0.77),
      color 0.4s cubic-bezier(0.37, 0.35, 0.47, 0.77);

    &:hover,
    &:focus {
      color: $prim-bg-color;
      background-color: $bright;
    }

    span {
      padding-bottom: 0.125rem;
    }

    .svg-wrap {
      width: 1.875rem;
      height: 1.875rem;
      margin-left: 0.65rem;
      border-radius: 50%;
      background-color: $bright;
      transform: scale(0.93);
      transition: background-color 0.4s cubic-bezier(0.37, 0.35, 0.47, 0.77);

      svg {
        transform: scale(0.625);
        fill: $prim-bg-color;
        transition: fill 0.4s cubic-bezier(0.37, 0.35, 0.47, 0.77);
      }
    }

    &:hover .svg-wrap,
    &:focus .svg-wrap {
      background-color: $prim-bg-color;
      animation: svg-anim 1.1s linear forwards infinite;

      svg {
        fill: $bright;
      }
    }
  }
}

@keyframes svg-anim {
  0% {
    transform: scale(0.93);
  }
  25% {
    transform: scale(0.965);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(0.965);
  }
  100% {
    transform: scale(0.93);
  }
}
