@import '../../config.scss';
@import '../../media-queries.scss';

.insight-success-container {
  display: grid;
  // grid-template-columns: 42.5% 57.5%;
  grid-template-columns: 38% 62%;
  grid-template-rows: 66% 34%;
  width: 100%;
  height: 100%;
  // min-height: calc(100vh - 4.6rem);
  background: transparent;
  overflow-y: hidden;
  visibility: hidden;

  @include lg-screen {
    min-height: 904.4px;
    // min-height: 943px;
  }

  @include md-screen {
    min-height: 826.4px;
  }

  @include sm-screen {
    min-height: 624.4px;
    // min-height: 663px;
  }

  @include breakpoint {
    display: flex;
    flex-direction: column;
    padding: 0.7rem 1.375rem;
  }

  @include phone {
    padding: 0.7rem 0.9rem;
  }
}

.insight-fail-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: transparent;
}
