// Fonts
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

$app-title-font: 'Righteous', cursive;
$main-font: 'Oswald', sans-serif;
$app-title-fill: #e77920;
$prim-bg-color: #262221;
$sec-bg-color: #7f8081;
$bright: #f7f6f2;
